In [119]:
import pandas as pd

In [120]:
raw_data = pd.read_excel("FormatImportExcel (2).xlsm", dtype=str, sheet_name="Data Penduduk") 
raw_data

,Alamat,DUSUN,RW,RT,Nama Lengkap,NO_KK,NIK,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,...,Tanggal Perkawinan,Nomor Akta Perceraian,Tanggal Perceraian,Cacat,Cara KB,Hamil,KTP EL,Status Rekam,Alamat Sekarang,Status Dasar
0,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,I WAYAN SUMERTA,5103050903070301,5103053112640221,L,BADUNG,1964-12-31 00:00:00,...,1986-10-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,NI WAYAN MARSI,5103050903070301,5103057112640207,P,BADUNG,1964-12-31 00:00:00,...,1986-10-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,I KADEK PURNAMA ADI PUTRA,5103050903070301,5103051502950003,L,DENPASAR,1995-02-15 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,TEMPEKAN SELONDING,KANGIN,0,0,I PUTU SUMARJAYA DIPUTRA,5103050111120023,5103052309870004,L,BADUNG,1987-01-23 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,TEMPEKAN SELONDING,KANGIN,0,0,NI LUH LISTYA DEVI,5103050111120023,5103056805890006,P,DENPASAR,1989-05-28 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8270,NaN,NaN,Setiap baris di atas berisi formula yang mendu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8271,NaN,NaN,Untuk mengaktifkan formula di baris-baris di a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8273,NaN,NaN,Apabila baris di atas bagian hijau ini telah t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8274,NaN,NaN,"Misalnya, apabila baris terakhir di atas adala...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
raw_data["NIK"].notna().sum()

8266

In [122]:
for i, txt in enumerate(raw_data['Jenis Kelamin']):
    if txt == 'L':
        raw_data['Jenis Kelamin'][i] = '1'
    elif txt == 'P':
        raw_data['Jenis Kelamin'][i] = '2'
raw_data["Jenis Kelamin"]

0         1
1         2
2         1
3         1
4         2
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Jenis Kelamin, Length: 8275, dtype: object

In [123]:
for i, txt in enumerate(raw_data['Kewarganegaraan']):
    if txt == 'WNI':
        raw_data['Kewarganegaraan'][i] = '1'
    elif txt == 'WNA':
        raw_data['Kewarganegaraan'][i] = '2'
raw_data['Kewarganegaraan']

0         1
1         1
2         1
3         1
4         1
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Kewarganegaraan, Length: 8275, dtype: object

In [124]:
for i, txt in enumerate(raw_data['Pekerjaan']):
    if txt == 'BELUM/ TIDAK BEKERJA':
        raw_data['Pekerjaan'][i] = '1'
    elif txt == 'MENGURUS RUMAH TANGGA':
        raw_data['Pekerjaan'][i] = '2'
    elif txt == 'PELAJAR/ MAHASISWA':
        raw_data['Pekerjaan'][i] = '3'
    elif txt == 'PENSIUNAN':
        raw_data['Pekerjaan'][i] = '4'
    elif txt == 'PEGAWAI NEGERI SIPIL':
        raw_data['Pekerjaan'][i] = '5'
    elif txt == 'TENTARA NASIONAL INDONESIA (TNI)' or txt == 'PURNAWIRAWAN TNI':
        raw_data['Pekerjaan'][i] = '6'
    elif txt == 'KEPOLISIAN RI (POLRI)' or txt == 'POLRI':
        raw_data['Pekerjaan'][i] = '7'
    elif txt == 'PERDAGANGAN':
        raw_data['Pekerjaan'][i] = '8'
    elif txt == 'PETANI/ PEKEBUN':
        raw_data['Pekerjaan'][i] = '9'
    elif txt == 'PETERNAK':
        raw_data['Pekerjaan'][i] = '10'
    elif txt == 'NELAYAN/PERIKANAN':
        raw_data['Pekerjaan'][i] = '11'
    elif txt == 'INDUSTRI':
        raw_data['Pekerjaan'][i] = '12'
    elif txt == 'KONSTRUKSI':
        raw_data['Pekerjaan'][i] = '13'
    elif txt == 'TRANSPORTASI':
        raw_data['Pekerjaan'][i] = '14'
    elif txt == 'KARYAWAN SWASTA':
        raw_data['Pekerjaan'][i] = '15'
    elif txt == 'KARYAWAN BUMN' or txt == 'KARYAWAN PERUSAHAAN PEMERINTAH':
        raw_data['Pekerjaan'][i] = '16'
    elif txt == 'KARYAWAN BUMD':
        raw_data['Pekerjaan'][i] = '17'
    elif txt == 'KARYAWAN HONORER' or txt == 'Karyawan Honorer':
        raw_data['Pekerjaan'][i] = '18'
    elif txt == 'BURUH HARIAN LEPAS':
        raw_data['Pekerjaan'][i] = '19'
    elif txt == 'BURUH TANI/ PERKEBUNAN':
        raw_data['Pekerjaan'][i] = '20'
    elif txt == 'BURUH NELAYAN/ PERIKANAN':
        raw_data['Pekerjaan'][i] = '21'
    elif txt == 'BURUH PETERNAKAN':
        raw_data['Pekerjaan'][i] = '22'
    elif txt == 'PEMBANTU RUMAH TANGGA' or txt == 'RUMAH TANGGA' or txt == 'IBU RUMAH TANGGA':
        raw_data['Pekerjaan'][i] = '23'
    elif txt == 'TUKANG CUKUR':
        raw_data['Pekerjaan'][i] = '24'
    elif txt == 'TUKANG LISTRIK':
        raw_data['Pekerjaan'][i] = '25'
    elif txt == 'TUKANG BATU':
        raw_data['Pekerjaan'][i] = '26'
    elif txt == 'TUKANG KAYU':
        raw_data['Pekerjaan'][i] = '27'
    elif txt == 'TUKANG SOL SEPATU':
        raw_data['Pekerjaan'][i] = '28'
    elif txt == 'TUKANG LAS/ PANDAI BESI':
        raw_data['Pekerjaan'][i] = '29'
    elif txt == 'TUKANG JAHIT':
        raw_data['Pekerjaan'][i] = '30'
    elif txt == 'TUKANG GIGI':
        raw_data['Pekerjaan'][i] = '31'
    elif txt == 'PENATA RIAS':
        raw_data['Pekerjaan'][i] = '32'
    elif txt == 'PENATA BUSANA':
        raw_data['Pekerjaan'][i] = '33'
    elif txt == 'PENATA RAMBUT':
        raw_data['Pekerjaan'][i] = '34'
    elif txt == 'MEKANIK':
        raw_data['Pekerjaan'][i] = '35'
    elif txt == 'SENIMAN':
        raw_data['Pekerjaan'][i] = '36'
    elif txt == 'TABIB':
        raw_data['Pekerjaan'][i] = '37'
    elif txt == 'PARAJI':
        raw_data['Pekerjaan'][i] = '38'
    elif txt == 'PERANCANG BUSANA':
        raw_data['Pekerjaan'][i] = '39'
    elif txt == 'PENTERJEMAH':
        raw_data['Pekerjaan'][i] = '40'
    elif txt == 'IMAM MASJID':
        raw_data['Pekerjaan'][i] = '41'
    elif txt == 'PENDETA':
        raw_data['Pekerjaan'][i] = '42'
    elif txt == 'PASTOR':
        raw_data['Pekerjaan'][i] = '43'
    elif txt == 'WARTAWAN':
        raw_data['Pekerjaan'][i] = '44'
    elif txt == 'USTADZ/MUBALIGH':
        raw_data['Pekerjaan'][i] = '45'
    elif txt == 'JURU MASAK':
        raw_data['Pekerjaan'][i] = '46'
    elif txt == 'PROMOTOR ACARA':
        raw_data['Pekerjaan'][i] = '47'
    elif txt == 'ANGGOTA DPR-RI':
        raw_data['Pekerjaan'][i] = '48'
    elif txt == 'ANGGOTA DPD':
        raw_data['Pekerjaan'][i] = '49'
    elif txt == 'ANGGOTA BPK':
        raw_data['Pekerjaan'][i] = '50'
    elif txt == 'PRESIDEN':
        raw_data['Pekerjaan'][i] = '51'
    elif txt == 'WAKIL PRESIDEN':
        raw_data['Pekerjaan'][i] = '52'
    elif txt == 'ANGGOTA MAHKAMAH KONSTITUSI':
        raw_data['Pekerjaan'][i] = '53'
    elif txt == 'ANGGOTA KABINET KEMENTERIAN':
        raw_data['Pekerjaan'][i] = '54'    
    elif txt == 'DUTA BESAR':
        raw_data['Pekerjaan'][i] = '55'
    elif txt == 'GUBERNUR':
        raw_data['Pekerjaan'][i] = '56'
    elif txt == 'WAKIL GUBERNUR':
        raw_data['Pekerjaan'][i] = '57'
    elif txt == 'BUPATI':
        raw_data['Pekerjaan'][i] = '58'
    elif txt == 'WAKIL BUPATI':
        raw_data['Pekerjaan'][i] = '59'
    elif txt == 'WALIKOTA':
        raw_data['Pekerjaan'][i] = '60'
    elif txt == 'WAKIL WALIKOTA':
        raw_data['Pekerjaan'][i] = '61'
    elif txt == 'ANGGOTA DPRD PROVINSI':
        raw_data['Pekerjaan'][i] = '62'
    elif txt == 'ANGGOTA DPRD KABUPATEN/KOTA' or txt == 'ANGGOTA DPRD KAB/ KOTA':
        raw_data['Pekerjaan'][i] = '63'
    elif txt == 'DOSEN':
        raw_data['Pekerjaan'][i] = '64'
    elif txt == 'GURU' or txt == 'GURU HONOR' or txt == 'GURU HONOR ' or txt == 'GURU SWASTA' or txt == 'Guru':
        raw_data['Pekerjaan'][i] = '65'
    elif txt == 'PILOT':
        raw_data['Pekerjaan'][i] = '66'
    elif txt == 'PENGACARA':
        raw_data['Pekerjaan'][i] = '67'
    elif txt == 'NOTARIS':
        raw_data['Pekerjaan'][i] = '68'
    elif txt == 'ARSITEK':
        raw_data['Pekerjaan'][i] = '69'
    elif txt == 'AKUNTAN':
        raw_data['Pekerjaan'][i] = '70'
    elif txt == 'KONSULTAN':
        raw_data['Pekerjaan'][i] = '71'
    elif txt == 'DOKTER':
        raw_data['Pekerjaan'][i] = '72'
    elif txt == 'BIDAN':
        raw_data['Pekerjaan'][i] = '73'
    elif txt == 'PERAWAT':
        raw_data['Pekerjaan'][i] = '74'
    elif txt == 'APOTEKER':
        raw_data['Pekerjaan'][i] = '75'
    elif txt == 'PSIKIATER/ PSIKOLOG':
        raw_data['Pekerjaan'][i] = '76'
    elif txt == 'PENYIAR TELEVISI':
        raw_data['Pekerjaan'][i] = '77'
    elif txt == 'PENYIAR RADIO':
        raw_data['Pekerjaan'][i] = '78'
    elif txt == 'PELAUT':
        raw_data['Pekerjaan'][i] = '79'
    elif txt == 'PENELITI':
        raw_data['Pekerjaan'][i] = '80'
    elif txt == 'SOPIR':
        raw_data['Pekerjaan'][i] = '81'
    elif txt == 'PIALANG':
        raw_data['Pekerjaan'][i] = '82'
    elif txt == 'PARANORMAL':
        raw_data['Pekerjaan'][i] = '83'
    elif txt == 'PEDAGANG' or txt == 'PEDAGANG BARANG KELONTONG':
        raw_data['Pekerjaan'][i] = '84'
    elif txt == 'PERANGKAT DESA':
        raw_data['Pekerjaan'][i] = '85'
    elif txt == 'KEPALA DESA':
        raw_data['Pekerjaan'][i] = '86'
    elif txt == 'BIARAWATI':
        raw_data['Pekerjaan'][i] = '87'
    elif txt == 'WIRASWASTA' or txt == 'OTHERS' or txt == 'TRADING & INDUSTRY' or txt == 'TOURISM' or txt == 'Wiraswasta':   
        raw_data['Pekerjaan'][i] = '88'
raw_data['Pekerjaan']

0        15
1        88
2        15
3        15
4        65
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Pekerjaan, Length: 8275, dtype: object

In [125]:
raw_data["Pekerjaan"].value_counts()

15    1887
3     1216
1     1210
88     946
9      943
2      291
5      106
68      21
4       12
20      10
65       9
84       8
18       5
16       4
19       4
7        3
23       3
8        3
10       2
63       1
17       1
59       1
14       1
74       1
67       1
72       1
64       1
44       1
6        1
Name: Pekerjaan, dtype: int64

In [126]:
for i, txt in enumerate(raw_data['Status Perkawinan']):
    if txt == 'BELUM KAWIN' or txt == 'BELUM KAWIN ':
        raw_data['Status Perkawinan'][i] = '1'
    elif txt == 'KAWIN' or txt == 'KAWIN TERCATAT' or txt == 'KAWIN ' or txt == 'KAWIN BELUM TERCATAT' or txt == 'MARRIED' or txt == '10':
        raw_data['Status Perkawinan'][i] = '2'
    elif txt == 'CERAI HIDUP' or txt == 'CERAI HIDUP TERCATAT' or txt == 'CERAI HIDUP BELUM TERCATAT' or txt == 'DIVORCED' or txt == 'CERAI HIDUP ':
        raw_data['Status Perkawinan'][i] = '3'
    elif txt == 'CERAI MATI' or txt == 'JANDA' or txt == 'DUDA':
        raw_data['Status Perkawinan'][i] = '4'
raw_data['Status Perkawinan']

0         2
1         2
2         1
3         2
4         2
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Status Perkawinan, Length: 8275, dtype: object

In [127]:
raw_data["Status Perkawinan"].value_counts()

2    3659
1    2613
4     336
3      44
Name: Status Perkawinan, dtype: int64

In [128]:
for i, txt in enumerate(raw_data['Agama']):
    if txt == 'ISLAM':
        raw_data['Agama'][i] = '1'
    elif txt == 'KRISTEN':
        raw_data['Agama'][i] = '2'
    elif txt == 'KATHOLIK':
        raw_data['Agama'][i] = '3'
    elif txt == 'HINDU' or txt == 'Hindu':
        raw_data['Agama'][i] = '4'
    elif txt == 'BUDHA':
        raw_data['Agama'][i] = '5'
    elif txt == 'KHONGHUCU':
        raw_data['Agama'][i] = '6'
    elif txt == 'Kepercayaan Terhadap Tuhan YME / Lainnya' or txt == 'KEPERCAYAAN TERHADAP TUHAN YME':
        raw_data['Agama'][i] = '7'
raw_data["Agama"]

0         4
1         4
2         4
3         4
4         4
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Agama, Length: 8275, dtype: object

In [129]:
raw_data["Agama"].value_counts()

4    7927
1     207
2      70
3      49
5      12
7       1
Name: Agama, dtype: int64

In [130]:
for i, txt in enumerate(raw_data['Status Dasar']):
    if txt == 'HIDUP':
        raw_data['Status Dasar'][i] = '1'
    elif txt == 'MATI':
        raw_data['Status Dasar'][i] = '2'
    elif txt == 'PINDAH':
        raw_data['Status Dasar'][i] = '3'
    elif txt == 'HILANG':
        raw_data['Status Dasar'][i] = '4'
    elif txt == 'PERGI':
        raw_data['Status Dasar'][i] = '6'
    elif txt == 'TIDAK VALID':
        raw_data['Status Dasar'][i] = '9'
    elif txt == 'LAINNYA' or txt == '-':
        raw_data['Status Dasar'][i] = '99'
    
raw_data['Status Dasar']

0         1
1         1
2         1
3         1
4         1
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Status Dasar, Length: 8275, dtype: object

In [131]:
for i, txt in enumerate(raw_data['KTP EL']):
    if txt == 'BELUM':
        raw_data['KTP EL'][i] = '1'
    elif txt == 'KTP-EL':
        raw_data['KTP EL'][i] = '2'
raw_data["KTP EL"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: KTP EL, Length: 8275, dtype: object

In [132]:
for i, txt in enumerate(raw_data["Golongan Darah"]):
    if txt == 'A':
        raw_data['Golongan Darah'][i] = '1'
    elif txt == 'B':
        raw_data['Golongan Darah'][i] = '2'
    elif txt == 'AB':
        raw_data['Golongan Darah'][i] = '3'
    elif txt == 'O':
        raw_data['Golongan Darah'][i] = '4'
    elif txt == 'A+':
        raw_data['Golongan Darah'][i] = '5'
    elif txt == 'A-':
        raw_data['Golongan Darah'][i] = '6'
    elif txt == 'B+':
        raw_data['Golongan Darah'][i] = '7'
    elif txt == 'B-':
        raw_data['Golongan Darah'][i] = '8'
    elif txt == 'AB+':
        raw_data['Golongan Darah'][i] = '9'
    elif txt == 'AB-':
        raw_data['Golongan Darah'][i] = '10'
    elif txt == 'O+':
        raw_data['Golongan Darah'][i] = '11'
    elif txt == 'O-':
        raw_data['Golongan Darah'][i] = '12'
    elif txt == 'TIDAK TAHU':
        raw_data['Golongan Darah'][i] = '13'
raw_data["Golongan Darah"]

0         4
1         4
2         4
3        13
4        13
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Golongan Darah, Length: 8275, dtype: object

In [133]:
# for i, txt in enumerate(raw_data['Pendidikan Sedang Ditempuh']):
#     if txt == 'BELUM MASUK TK/KELOMPOK BERMAIN':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '1'
#     elif txt == 'SEDANG TK/KELOMPOK BERMAIN':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '2'
#     elif txt == 'TIDAK PERNAH SEKOLAH':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '3'
#     elif txt == 'SEDANG SD/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '4'
#     elif txt == 'TIDAK TAMAT SD/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '5'
#     elif txt == 'SEDANG SLTP/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '6'
#     elif txt == 'SEDANG SLTA/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '7'
#     elif txt == 'SEDANG D-1/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '8'
#     elif txt == 'SEDANG D-2/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '9'
#     elif txt == 'SEDANG D-3/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '10'
#     elif txt == 'SEDANG S-1/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '11'
#     elif txt == 'SEDANG S-2/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '12'
#     elif txt == 'SEDANG S-3/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '13'
#     elif txt == 'SEDANG SLB A/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '14'
#     elif txt == 'SEDANG SLB B/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '15'
#     elif txt == 'SEDANG SLB C/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '16'
#     elif txt == 'TIDAK DAPAT MEMBACA DAN MENULIS HURUF LATIN/ARAB':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '17'
#     elif txt == 'TIDAK SEDANG SEKOLAH':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '18'
#     else:
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '-'
# raw_data['Pendidikan Sedang Ditempuh']

for i, txt in enumerate(raw_data['Pendidikan Sedang Ditempuh']):
    raw_data['Pendidikan Sedang Ditempuh'][i] = '4'
raw_data['Pendidikan Sedang Ditempuh']

0       4
1       4
2       4
3       4
4       4
       ..
8270    4
8271    4
8272    4
8273    4
8274    4
Name: Pendidikan Sedang Ditempuh, Length: 8275, dtype: object

In [134]:
for i, txt in enumerate(raw_data["Pendidikan Dalam KK"]):
    if txt == 'TIDAK/ BELUM SEKOLAH' or txt == 'TIDAK / BELUM SEKOLAH' or txt == 'OTHERS':
        raw_data["Pendidikan Dalam KK"][i] = '1'
    elif txt == 'BELUM TAMAT SD/ SEDERAJAT' or txt == 'BELUM TAMAT SD/SEDERAJAT' or txt == 'TIDAK TAMAT SD/ SEDERAJAT':
        raw_data["Pendidikan Dalam KK"][i] = '2'
    elif txt == 'TAMAT SD/ SEDERAJAT' or txt == 'TAMAT SD / SEDERAJAT' or txt == 'ELEMENTARY SCHOOL' or txt == 'TIDAK TAMAT SMP/SEDERAJAT':
        raw_data["Pendidikan Dalam KK"][i] = '3'
    elif txt == 'SLTP/ SEDERAJAT' or txt == 'SLTP/SEDERAJAT':
        raw_data["Pendidikan Dalam KK"][i] = '4'
    elif txt == 'SLTA/ SEDERAJAT' or txt == 'SLTA / SEDERAJAT':
        raw_data["Pendidikan Dalam KK"][i] = '5'
    elif txt == 'DIPLOMA I/ II' or txt == 'DIPLOMA':
        raw_data["Pendidikan Dalam KK"][i] = '6'
    elif txt == 'AKADEMI/ DIPLOMA III/ SARJANA MUDA' or txt == 'AKADEMI/ DIPLOMA III/S. MUDA':
        raw_data["Pendidikan Dalam KK"][i] = '7'
    elif txt == 'DIPLOMA IV/ STRATA I':
        raw_data["Pendidikan Dalam KK"][i] = '8'
    elif txt == 'STRATA II':
        raw_data["Pendidikan Dalam KK"][i] = '9'
    elif txt == 'STRATA III':
        raw_data["Pendidikan Dalam KK"][i] = '10'

raw_data["Pendidikan Dalam KK"]

0         3
1         3
2         8
3         5
4         8
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Pendidikan Dalam KK, Length: 8275, dtype: object

In [135]:
raw_data["Pendidikan Dalam KK"].value_counts()

5     1856
3     1652
1     1278
4      781
2      522
8      384
7      101
6       81
9       30
10       3
Name: Pendidikan Dalam KK, dtype: int64

In [136]:
for i, txt in enumerate(raw_data["Status Hubungan Dalam Keluarga"]):
    if txt == 'KEPALA KELUARGA' or txt == 'Kepala Keluarga':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '1'
    elif txt == 'SUAMI' or txt == 'SUAMI/HUSBAND' or txt == 'AYAH' or txt == 'BAPAK':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '2'
    elif txt == 'ISTRI' or txt == 'ISTRI/ WIFE' or txt == 'ISTRI/WIFE' or txt == 'Istri' or txt == 'IBU':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '3'
    elif txt == 'ANAK':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '4'
    elif txt == 'MENANTU':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '5'
    elif txt == 'CUCU':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '6'
    elif txt == 'ORANGTUA' or txt == 'ORANG TUA':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '7'
    elif txt == 'MERTUA':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '8'
    elif txt == 'FAMILI LAIN' or txt == 'SAUDARA' or txt == 'FAMILY LAIN' or txt == 'BIBI' or txt == 'PAMAN':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '9'
    elif txt == 'PEMBANTU':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '10'
    elif txt == 'LAINNYA' or txt == 'LAIN-LAIN' or txt == 'CERAI MATI' or txt == 'NENEK' or txt == 'KAKEK':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '11'
raw_data["Status Hubungan Dalam Keluarga"]

0         1
1         3
2         4
3         1
4         3
       ...
8270    NaN
8271    NaN
8272    NaN
8273    NaN
8274    NaN
Name: Status Hubungan Dalam Keluarga, Length: 8275, dtype: object

In [137]:
raw_data["Status Hubungan Dalam Keluarga"].value_counts()

4     2704
1     2314
3     1891
7      301
9      136
11      98
2       26
6       17
5        7
8        5
Name: Status Hubungan Dalam Keluarga, dtype: int64

In [138]:
for i, txt in enumerate(raw_data["Cacat"]):
    if txt == 'CACAT FISIK':
        raw_data["Cacat"][i] = '1'
    elif txt == 'CACAT NETRA/BUTA':
        raw_data["Cacat"][i] = '2'
    elif txt == 'CACAT RUNGU/WICARA':
        raw_data["Cacat"][i] = '3'
    elif txt == 'CACAT MENTAL/JIWA':
        raw_data["Cacat"][i] = '4'
    elif txt == 'CACAT FISIK DAN MENTAL':
        raw_data["Cacat"][i] = '5'
    elif txt == 'CACAT LAINNYA':
        raw_data["Cacat"][i] = '6'
    elif txt == 'TIDAK CACAT':
        raw_data["Cacat"][i] = '7'
    else:
        raw_data["Cacat"][i] = '7'
raw_data["Cacat"]

0       7
1       7
2       7
3       7
4       7
       ..
8270    7
8271    7
8272    7
8273    7
8274    7
Name: Cacat, Length: 8275, dtype: object

In [139]:
for i, txt in enumerate(raw_data["Hamil"]):
    raw_data["Hamil"][i] = '1'
raw_data["Hamil"]

0       1
1       1
2       1
3       1
4       1
       ..
8270    1
8271    1
8272    1
8273    1
8274    1
Name: Hamil, Length: 8275, dtype: object

In [140]:
raw_data['Hamil'].value_counts()

1    8275
Name: Hamil, dtype: int64

In [141]:
# raw_data['NIK'][8301]

KeyError: 8301

In [142]:
for i, txt in enumerate(raw_data["Cara KB"]):
    if txt == 'Pil':
        raw_data["Cara KB"][i] = '1'
    elif txt == 'IUD':
        raw_data["Cara KB"][i] = '2'
    elif txt == 'Suntik':
        raw_data["Cara KB"][i] = '3'
    elif txt == 'Kondom':
        raw_data["Cara KB"][i] = '4'
    elif txt == 'Susuk KB':
        raw_data["Cara KB"][i] = '5'
    elif txt == 'Sterilisasi Wanita':
        raw_data["Cara KB"][i] = '6'
    elif txt == 'Sterilisasi Pria':
        raw_data["Cara KB"][i] = '7'
    else:
        raw_data["Cara KB"][i] = '99'
raw_data["Cara KB"]

0       99
1       99
2       99
3       99
4       99
        ..
8270    99
8271    99
8272    99
8273    99
8274    99
Name: Cara KB, Length: 8275, dtype: object

In [143]:
raw_data.Cacat.value_counts()

7    8275
Name: Cacat, dtype: int64

In [144]:
raw_data['Status Perkawinan'].value_counts()

2    3659
1    2613
4     336
3      44
Name: Status Perkawinan, dtype: int64

In [145]:
raw_data['Status Rekam'].value_counts()

Series([], Name: Status Rekam, dtype: int64)

In [146]:
raw_data['Status Dasar'].value_counts()

1    186
Name: Status Dasar, dtype: int64

In [147]:
raw_data.to_excel("format.xlsx", index=False)