In [12]:
import pandas as pd

In [13]:
raw_data = pd.read_excel("Copy of penduduk_25_02_2022.xlsx", dtype=str) 
raw_data

,Alamat,Dusun,RW,RT,Nama,Nomor KK,Nomor NIK,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,...,Cara KB,Hamil,KTP-el,Status Rekam,Alamat Sekarang,Status Dasar,Suku,Tag ID Card,Asuransi,No Asuransi
0,JL. RAYA ULUWATU BR. TENGAH,TENGAH,-,-,NIMROT NABABAN,1271111402080051,1271110801790001,1,SIBORONG-BORONG,1979-01-08,...,99,1,NaN,NaN,JL. RAYA ULUWATU BR. TENGAH,1,NaN,NaN,NaN,NaN
1,BR. DINAS TENGAH,TENGAH,-,-,MARCLEON MEYER,3173031101120004,5103052512180001,1,DENPASAR,2018-12-25,...,99,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
2,BR. DINAS TENGAH,TENGAH,-,-,MILA,3173031101120004,3173036107870002,2,INDRAMAYU,1987-07-21,...,99,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
3,PECATU INDAH RESORT HOLE 17 VILLA NO.3 BR. KAUH,KAUH,-,-,RIKA WAHYUNI,3174021007170009,3174025702800001,2,JAKARTA,1980-02-17,...,99,1,NaN,NaN,PECATU INDAH RESORT HOLE 17 VILLA NO.3 BR. KAUH,1,NaN,NaN,NaN,NaN
4,PECATU INDAH RESORT HOLE 17 VILLA NO.3 BR. KAUH,KAUH,-,-,BENOIT CLAUDE JEROME CASSAN,3174021007170009,5103050106700014,1,MARSEILLE,1970-06-01,...,99,1,NaN,NaN,PECATU INDAH RESORT HOLE 17 VILLA NO.3 BR. KAUH,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8245,JL ULUWATU BR. SULUBAN PECATU,SULUBAN,-,-,MAWAR YULIATI TRISNASARI,5205030105130001,5205035303870001,2,DOMPU,1987-03-13,...,99,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
8246,BR. DINAS TENGAH,TENGAH,-,-,VIVI KUSWANTI,5206021604180001,5206026303821002,2,TAMBE-BIMA,1982-03-23,...,99,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
8247,JL. SAHADEWA NO. 58 BR. KAUH,KAUH,-,-,JUSTIN TROY HEWLETT,6471052705130036,6474021601120001,1,BONTANG,2012-01-16,...,99,1,NaN,NaN,JL. SAHADEWA NO. 58 BR. KAUH,1,NaN,NaN,NaN,NaN
8248,JL. SAHADEWA NO. 58 BR. KAUH,KAUH,-,-,ISMIAH HEWLETT,6471052705130036,6474026303770008,2,BANJAR MELATI,1977-03-23,...,99,1,NaN,NaN,JL. SAHADEWA NO. 58 BR. KAUH,1,NaN,NaN,NaN,NaN
8249,JL. SAHADEWA NO. 58 BR. KAUH,KAUH,-,-,STEVEN JAMES HEWLETT,6471052705130036,6474020303100001,1,BONTANG,2010-03-03,...,99,1,NaN,NaN,JL. SAHADEWA NO. 58 BR. KAUH,1,NaN,NaN,NaN,NaN

In [14]:
raw_data["Nomor NIK"].notna().sum()

8250

In [15]:
for i, txt in enumerate(raw_data['Jenis Kelamin']):
    if txt == 'L':
        raw_data['Jenis Kelamin'][i] = '1'
    elif txt == 'P':
        raw_data['Jenis Kelamin'][i] = '2'
raw_data["Jenis Kelamin"]

0       1
1       1
2       2
3       2
4       1
       ..
8245    2
8246    2
8247    1
8248    2
8249    1
Name: Jenis Kelamin, Length: 8250, dtype: object

In [16]:
for i, txt in enumerate(raw_data['Kewarganegaraan']):
    if txt == 'WNI':
        raw_data['Kewarganegaraan'][i] = '1'
    elif txt == 'WNA':
        raw_data['Kewarganegaraan'][i] = '2'
raw_data['Kewarganegaraan']

0       1
1       1
2       1
3       1
4       2
       ..
8245    1
8246    1
8247    1
8248    1
8249    1
Name: Kewarganegaraan, Length: 8250, dtype: object

In [17]:
for i, txt in enumerate(raw_data['Pekerjaan']):
    if txt == 'BELUM/ TIDAK BEKERJA':
        raw_data['Pekerjaan'][i] = '1'
    elif txt == 'MENGURUS RUMAH TANGGA':
        raw_data['Pekerjaan'][i] = '2'
    elif txt == 'PELAJAR/ MAHASISWA':
        raw_data['Pekerjaan'][i] = '3'
    elif txt == 'PENSIUNAN':
        raw_data['Pekerjaan'][i] = '4'
    elif txt == 'PEGAWAI NEGERI SIPIL':
        raw_data['Pekerjaan'][i] = '5'
    elif txt == 'TENTARA NASIONAL INDONESIA (TNI)' or txt == 'PURNAWIRAWAN TNI':
        raw_data['Pekerjaan'][i] = '6'
    elif txt == 'KEPOLISIAN RI (POLRI)' or txt == 'POLRI':
        raw_data['Pekerjaan'][i] = '7'
    elif txt == 'PERDAGANGAN':
        raw_data['Pekerjaan'][i] = '8'
    elif txt == 'PETANI/ PEKEBUN':
        raw_data['Pekerjaan'][i] = '9'
    elif txt == 'PETERNAK':
        raw_data['Pekerjaan'][i] = '10'
    elif txt == 'NELAYAN/PERIKANAN':
        raw_data['Pekerjaan'][i] = '11'
    elif txt == 'INDUSTRI':
        raw_data['Pekerjaan'][i] = '12'
    elif txt == 'KONSTRUKSI':
        raw_data['Pekerjaan'][i] = '13'
    elif txt == 'TRANSPORTASI':
        raw_data['Pekerjaan'][i] = '14'
    elif txt == 'KARYAWAN SWASTA':
        raw_data['Pekerjaan'][i] = '15'
    elif txt == 'KARYAWAN BUMN' or txt == 'KARYAWAN PERUSAHAAN PEMERINTAH':
        raw_data['Pekerjaan'][i] = '16'
    elif txt == 'KARYAWAN BUMD':
        raw_data['Pekerjaan'][i] = '17'
    elif txt == 'KARYAWAN HONORER' or txt == 'Karyawan Honorer':
        raw_data['Pekerjaan'][i] = '18'
    elif txt == 'BURUH HARIAN LEPAS':
        raw_data['Pekerjaan'][i] = '19'
    elif txt == 'BURUH TANI/ PERKEBUNAN':
        raw_data['Pekerjaan'][i] = '20'
    elif txt == 'BURUH NELAYAN/ PERIKANAN':
        raw_data['Pekerjaan'][i] = '21'
    elif txt == 'BURUH PETERNAKAN':
        raw_data['Pekerjaan'][i] = '22'
    elif txt == 'PEMBANTU RUMAH TANGGA' or txt == 'RUMAH TANGGA' or txt == 'IBU RUMAH TANGGA':
        raw_data['Pekerjaan'][i] = '23'
    elif txt == 'TUKANG CUKUR':
        raw_data['Pekerjaan'][i] = '24'
    elif txt == 'TUKANG LISTRIK':
        raw_data['Pekerjaan'][i] = '25'
    elif txt == 'TUKANG BATU':
        raw_data['Pekerjaan'][i] = '26'
    elif txt == 'TUKANG KAYU':
        raw_data['Pekerjaan'][i] = '27'
    elif txt == 'TUKANG SOL SEPATU':
        raw_data['Pekerjaan'][i] = '28'
    elif txt == 'TUKANG LAS/ PANDAI BESI':
        raw_data['Pekerjaan'][i] = '29'
    elif txt == 'TUKANG JAHIT':
        raw_data['Pekerjaan'][i] = '30'
    elif txt == 'TUKANG GIGI':
        raw_data['Pekerjaan'][i] = '31'
    elif txt == 'PENATA RIAS':
        raw_data['Pekerjaan'][i] = '32'
    elif txt == 'PENATA BUSANA':
        raw_data['Pekerjaan'][i] = '33'
    elif txt == 'PENATA RAMBUT':
        raw_data['Pekerjaan'][i] = '34'
    elif txt == 'MEKANIK':
        raw_data['Pekerjaan'][i] = '35'
    elif txt == 'SENIMAN':
        raw_data['Pekerjaan'][i] = '36'
    elif txt == 'TABIB':
        raw_data['Pekerjaan'][i] = '37'
    elif txt == 'PARAJI':
        raw_data['Pekerjaan'][i] = '38'
    elif txt == 'PERANCANG BUSANA':
        raw_data['Pekerjaan'][i] = '39'
    elif txt == 'PENTERJEMAH':
        raw_data['Pekerjaan'][i] = '40'
    elif txt == 'IMAM MASJID':
        raw_data['Pekerjaan'][i] = '41'
    elif txt == 'PENDETA':
        raw_data['Pekerjaan'][i] = '42'
    elif txt == 'PASTOR':
        raw_data['Pekerjaan'][i] = '43'
    elif txt == 'WARTAWAN':
        raw_data['Pekerjaan'][i] = '44'
    elif txt == 'USTADZ/MUBALIGH':
        raw_data['Pekerjaan'][i] = '45'
    elif txt == 'JURU MASAK':
        raw_data['Pekerjaan'][i] = '46'
    elif txt == 'PROMOTOR ACARA':
        raw_data['Pekerjaan'][i] = '47'
    elif txt == 'ANGGOTA DPR-RI':
        raw_data['Pekerjaan'][i] = '48'
    elif txt == 'ANGGOTA DPD':
        raw_data['Pekerjaan'][i] = '49'
    elif txt == 'ANGGOTA BPK':
        raw_data['Pekerjaan'][i] = '50'
    elif txt == 'PRESIDEN':
        raw_data['Pekerjaan'][i] = '51'
    elif txt == 'WAKIL PRESIDEN':
        raw_data['Pekerjaan'][i] = '52'
    elif txt == 'ANGGOTA MAHKAMAH KONSTITUSI':
        raw_data['Pekerjaan'][i] = '53'
    elif txt == 'ANGGOTA KABINET KEMENTERIAN':
        raw_data['Pekerjaan'][i] = '54'    
    elif txt == 'DUTA BESAR':
        raw_data['Pekerjaan'][i] = '55'
    elif txt == 'GUBERNUR':
        raw_data['Pekerjaan'][i] = '56'
    elif txt == 'WAKIL GUBERNUR':
        raw_data['Pekerjaan'][i] = '57'
    elif txt == 'BUPATI':
        raw_data['Pekerjaan'][i] = '58'
    elif txt == 'WAKIL BUPATI':
        raw_data['Pekerjaan'][i] = '59'
    elif txt == 'WALIKOTA':
        raw_data['Pekerjaan'][i] = '60'
    elif txt == 'WAKIL WALIKOTA':
        raw_data['Pekerjaan'][i] = '61'
    elif txt == 'ANGGOTA DPRD PROVINSI':
        raw_data['Pekerjaan'][i] = '62'
    elif txt == 'ANGGOTA DPRD KABUPATEN/KOTA' or txt == 'ANGGOTA DPRD KAB/ KOTA':
        raw_data['Pekerjaan'][i] = '63'
    elif txt == 'DOSEN':
        raw_data['Pekerjaan'][i] = '64'
    elif txt == 'GURU' or txt == 'GURU HONOR' or txt == 'GURU HONOR ' or txt == 'GURU SWASTA' or txt == 'Guru':
        raw_data['Pekerjaan'][i] = '65'
    elif txt == 'PILOT':
        raw_data['Pekerjaan'][i] = '66'
    elif txt == 'PENGACARA':
        raw_data['Pekerjaan'][i] = '67'
    elif txt == 'NOTARIS':
        raw_data['Pekerjaan'][i] = '68'
    elif txt == 'ARSITEK':
        raw_data['Pekerjaan'][i] = '69'
    elif txt == 'AKUNTAN':
        raw_data['Pekerjaan'][i] = '70'
    elif txt == 'KONSULTAN':
        raw_data['Pekerjaan'][i] = '71'
    elif txt == 'DOKTER':
        raw_data['Pekerjaan'][i] = '72'
    elif txt == 'BIDAN':
        raw_data['Pekerjaan'][i] = '73'
    elif txt == 'PERAWAT':
        raw_data['Pekerjaan'][i] = '74'
    elif txt == 'APOTEKER':
        raw_data['Pekerjaan'][i] = '75'
    elif txt == 'PSIKIATER/ PSIKOLOG':
        raw_data['Pekerjaan'][i] = '76'
    elif txt == 'PENYIAR TELEVISI':
        raw_data['Pekerjaan'][i] = '77'
    elif txt == 'PENYIAR RADIO':
        raw_data['Pekerjaan'][i] = '78'
    elif txt == 'PELAUT':
        raw_data['Pekerjaan'][i] = '79'
    elif txt == 'PENELITI':
        raw_data['Pekerjaan'][i] = '80'
    elif txt == 'SOPIR':
        raw_data['Pekerjaan'][i] = '81'
    elif txt == 'PIALANG':
        raw_data['Pekerjaan'][i] = '82'
    elif txt == 'PARANORMAL':
        raw_data['Pekerjaan'][i] = '83'
    elif txt == 'PEDAGANG' or txt == 'PEDAGANG BARANG KELONTONG':
        raw_data['Pekerjaan'][i] = '84'
    elif txt == 'PERANGKAT DESA':
        raw_data['Pekerjaan'][i] = '85'
    elif txt == 'KEPALA DESA':
        raw_data['Pekerjaan'][i] = '86'
    elif txt == 'BIARAWATI':
        raw_data['Pekerjaan'][i] = '87'
    elif txt == 'WIRASWASTA' or txt == 'OTHERS' or txt == 'TRADING & INDUSTRY' or txt == 'TOURISM' or txt == 'Wiraswasta':   
        raw_data['Pekerjaan'][i] = '88'
raw_data['Pekerjaan']

0       88
1        1
2       15
3       15
4       88
        ..
8245    88
8246    88
8247     1
8248     2
8249     1
Name: Pekerjaan, Length: 8250, dtype: object

In [18]:
raw_data["Pekerjaan"].value_counts()

15    1890
3     1205
1     1204
9      949
88     944
2      294
5      107
68      21
4       12
20      10
65       9
84       8
18       5
16       4
19       4
8        3
23       3
7        3
10       2
63       1
74       1
59       1
44       1
64       1
14       1
6        1
72       1
67       1
17       1
Name: Pekerjaan, dtype: int64

In [19]:
for i, txt in enumerate(raw_data['Status Perkawinan']):
    if txt == 'BELUM KAWIN' or txt == 'BELUM KAWIN ':
        raw_data['Status Perkawinan'][i] = '1'
    elif txt == 'KAWIN' or txt == 'KAWIN TERCATAT' or txt == 'KAWIN ' or txt == 'KAWIN BELUM TERCATAT' or txt == 'MARRIED' or txt == '10':
        raw_data['Status Perkawinan'][i] = '2'
    elif txt == 'CERAI HIDUP' or txt == 'CERAI HIDUP TERCATAT' or txt == 'CERAI HIDUP BELUM TERCATAT' or txt == 'DIVORCED' or txt == 'CERAI HIDUP ':
        raw_data['Status Perkawinan'][i] = '3'
    elif txt == 'CERAI MATI' or txt == 'JANDA' or txt == 'DUDA':
        raw_data['Status Perkawinan'][i] = '4'
raw_data['Status Perkawinan']

KeyError: 'Status Perkawinan'

In [ ]:
raw_data["Status Perkawinan"].value_counts()

2    3668
1    2628
4     337
3      44
Name: Status Perkawinan, dtype: int64

In [ ]:
for i, txt in enumerate(raw_data['Agama']):
    if txt == 'ISLAM':
        raw_data['Agama'][i] = '1'
    elif txt == 'KRISTEN':
        raw_data['Agama'][i] = '2'
    elif txt == 'KATHOLIK':
        raw_data['Agama'][i] = '3'
    elif txt == 'HINDU' or txt == 'Hindu':
        raw_data['Agama'][i] = '4'
    elif txt == 'BUDHA':
        raw_data['Agama'][i] = '5'
    elif txt == 'KHONGHUCU':
        raw_data['Agama'][i] = '6'
    elif txt == 'Kepercayaan Terhadap Tuhan YME / Lainnya' or txt == 'KEPERCAYAAN TERHADAP TUHAN YME':
        raw_data['Agama'][i] = '7'
raw_data["Agama"]

0         4
1         4
2         4
3         4
4         4
       ...
8303    NaN
8304    NaN
8305    NaN
8306    NaN
8307    NaN
Name: Agama, Length: 8308, dtype: object

In [ ]:
raw_data["Agama"].value_counts()

4    7960
1     207
2      70
3      49
5      12
7       1
Name: Agama, dtype: int64

In [ ]:
for i, txt in enumerate(raw_data['Status Dasar']):
    if txt == 'HIDUP':
        raw_data['Status Dasar'][i] = '1'
    elif txt == 'MATI':
        raw_data['Status Dasar'][i] = '2'
    elif txt == 'PINDAH':
        raw_data['Status Dasar'][i] = '3'
    elif txt == 'HILANG':
        raw_data['Status Dasar'][i] = '4'
    elif txt == 'PERGI':
        raw_data['Status Dasar'][i] = '6'
    elif txt == 'TIDAK VALID':
        raw_data['Status Dasar'][i] = '9'
    elif txt == 'LAINNYA' or txt == '-':
        raw_data['Status Dasar'][i] = '99'
    
raw_data['Status Dasar']

0         1
1         1
2         1
3         1
4         1
       ...
8303    NaN
8304    NaN
8305    NaN
8306    NaN
8307    NaN
Name: Status Dasar, Length: 8308, dtype: object

In [ ]:
for i, txt in enumerate(raw_data['KTP EL']):
    if txt == 'BELUM':
        raw_data['KTP EL'][i] = '1'
    elif txt == 'KTP-EL':
        raw_data['KTP EL'][i] = '2'
raw_data["KTP EL"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8303    NaN
8304    NaN
8305    NaN
8306    NaN
8307    NaN
Name: KTP EL, Length: 8308, dtype: object

In [ ]:
for i, txt in enumerate(raw_data["Golongan Darah"]):
    if txt == 'A':
        raw_data['Golongan Darah'][i] = '1'
    elif txt == 'B':
        raw_data['Golongan Darah'][i] = '2'
    elif txt == 'AB':
        raw_data['Golongan Darah'][i] = '3'
    elif txt == 'O':
        raw_data['Golongan Darah'][i] = '4'
    elif txt == 'A+':
        raw_data['Golongan Darah'][i] = '5'
    elif txt == 'A-':
        raw_data['Golongan Darah'][i] = '6'
    elif txt == 'B+':
        raw_data['Golongan Darah'][i] = '7'
    elif txt == 'B-':
        raw_data['Golongan Darah'][i] = '8'
    elif txt == 'AB+':
        raw_data['Golongan Darah'][i] = '9'
    elif txt == 'AB-':
        raw_data['Golongan Darah'][i] = '10'
    elif txt == 'O+':
        raw_data['Golongan Darah'][i] = '11'
    elif txt == 'O-':
        raw_data['Golongan Darah'][i] = '12'
    elif txt == 'TIDAK TAHU':
        raw_data['Golongan Darah'][i] = '13'
raw_data["Golongan Darah"]

0         4
1         4
2         4
3        13
4        13
       ...
8303    NaN
8304    NaN
8305    NaN
8306    NaN
8307    NaN
Name: Golongan Darah, Length: 8308, dtype: object

In [ ]:
# for i, txt in enumerate(raw_data['Pendidikan Sedang Ditempuh']):
#     if txt == 'BELUM MASUK TK/KELOMPOK BERMAIN':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '1'
#     elif txt == 'SEDANG TK/KELOMPOK BERMAIN':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '2'
#     elif txt == 'TIDAK PERNAH SEKOLAH':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '3'
#     elif txt == 'SEDANG SD/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '4'
#     elif txt == 'TIDAK TAMAT SD/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '5'
#     elif txt == 'SEDANG SLTP/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '6'
#     elif txt == 'SEDANG SLTA/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '7'
#     elif txt == 'SEDANG D-1/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '8'
#     elif txt == 'SEDANG D-2/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '9'
#     elif txt == 'SEDANG D-3/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '10'
#     elif txt == 'SEDANG S-1/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '11'
#     elif txt == 'SEDANG S-2/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '12'
#     elif txt == 'SEDANG S-3/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '13'
#     elif txt == 'SEDANG SLB A/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '14'
#     elif txt == 'SEDANG SLB B/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '15'
#     elif txt == 'SEDANG SLB C/SEDERAJAT':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '16'
#     elif txt == 'TIDAK DAPAT MEMBACA DAN MENULIS HURUF LATIN/ARAB':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '17'
#     elif txt == 'TIDAK SEDANG SEKOLAH':
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '18'
#     else:
#         raw_data['Pendidikan Sedang Ditempuh'][i] = '-'
# raw_data['Pendidikan Sedang Ditempuh']

# for i, txt in enumerate(raw_data['Pendidikan Sedang Ditempuh']):
#     raw_data['Pendidikan Sedang Ditempuh'][i] = '4'
# raw_data['Pendidikan Sedang Ditempuh']

In [ ]:
for i, txt in enumerate(raw_data["Pendidikan Dalam KK"]):
    if txt == 'TIDAK/ BELUM SEKOLAH' or txt == 'TIDAK / BELUM SEKOLAH' or txt == 'OTHERS':
        raw_data["Pendidikan Dalam KK"][i] = '1'
    elif txt == 'BELUM TAMAT SD/ SEDERAJAT' or txt == 'BELUM TAMAT SD/SEDERAJAT' or txt == 'TIDAK TAMAT SD/ SEDERAJAT':
        raw_data["Pendidikan Dalam KK"][i] = '2'
    elif txt == 'TAMAT SD/ SEDERAJAT' or txt == 'TAMAT SD / SEDERAJAT' or txt == 'ELEMENTARY SCHOOL' or txt == 'TIDAK TAMAT SMP/SEDERAJAT':
        raw_data["Pendidikan Dalam KK"][i] = '3'
    elif txt == 'SLTP/ SEDERAJAT' or txt == 'SLTP/SEDERAJAT':
        raw_data["Pendidikan Dalam KK"][i] = '4'
    elif txt == 'SLTA/ SEDERAJAT' or txt == 'SLTA / SEDERAJAT':
        raw_data["Pendidikan Dalam KK"][i] = '5'
    elif txt == 'DIPLOMA I/ II' or txt == 'DIPLOMA':
        raw_data["Pendidikan Dalam KK"][i] = '6'
    elif txt == 'AKADEMI/ DIPLOMA III/ SARJANA MUDA' or txt == 'AKADEMI/ DIPLOMA III/S. MUDA':
        raw_data["Pendidikan Dalam KK"][i] = '7'
    elif txt == 'DIPLOMA IV/ STRATA I':
        raw_data["Pendidikan Dalam KK"][i] = '8'
    elif txt == 'STRATA II':
        raw_data["Pendidikan Dalam KK"][i] = '9'
    elif txt == 'STRATA III':
        raw_data["Pendidikan Dalam KK"][i] = '10'

raw_data["Pendidikan Dalam KK"]

0         3
1         3
2         8
3         5
4         8
       ...
8303    NaN
8304    NaN
8305    NaN
8306    NaN
8307    NaN
Name: Pendidikan Dalam KK, Length: 8308, dtype: object

In [ ]:
raw_data["Pendidikan Dalam KK"].value_counts()

5     1863
3     1655
1     1288
4      784
2      524
8      384
7      101
6       81
9       30
10       3
Name: Pendidikan Dalam KK, dtype: int64

In [ ]:
for i, txt in enumerate(raw_data["Status Hubungan Dalam Keluarga"]):
    if txt == 'KEPALA KELUARGA' or txt == 'Kepala Keluarga':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '1'
    elif txt == 'SUAMI' or txt == 'SUAMI/HUSBAND' or txt == 'AYAH' or txt == 'BAPAK':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '2'
    elif txt == 'ISTRI' or txt == 'ISTRI/ WIFE' or txt == 'ISTRI/WIFE' or txt == 'Istri' or txt == 'IBU':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '3'
    elif txt == 'ANAK':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '4'
    elif txt == 'MENANTU':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '5'
    elif txt == 'CUCU':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '6'
    elif txt == 'ORANGTUA' or txt == 'ORANG TUA':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '7'
    elif txt == 'MERTUA':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '8'
    elif txt == 'FAMILI LAIN' or txt == 'SAUDARA' or txt == 'FAMILY LAIN' or txt == 'BIBI' or txt == 'PAMAN':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '9'
    elif txt == 'PEMBANTU':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '10'
    elif txt == 'LAINNYA' or txt == 'LAIN-LAIN' or txt == 'CERAI MATI' or txt == 'NENEK' or txt == 'KAKEK':
        raw_data["Status Hubungan Dalam Keluarga"][i] = '11'
raw_data["Status Hubungan Dalam Keluarga"]

0         1
1         3
2         4
3         1
4         3
       ...
8303    NaN
8304    NaN
8305    NaN
8306    NaN
8307    NaN
Name: Status Hubungan Dalam Keluarga, Length: 8308, dtype: object

In [ ]:
raw_data["Status Hubungan Dalam Keluarga"].value_counts()

4     2720
1     2317
3     1897
7      301
9      136
11      98
2       26
6       17
5        7
8        5
Name: Status Hubungan Dalam Keluarga, dtype: int64

In [ ]:
for i, txt in enumerate(raw_data["Cacat"]):
    if txt == 'CACAT FISIK':
        raw_data["Cacat"][i] = '1'
    elif txt == 'CACAT NETRA/BUTA':
        raw_data["Cacat"][i] = '2'
    elif txt == 'CACAT RUNGU/WICARA':
        raw_data["Cacat"][i] = '3'
    elif txt == 'CACAT MENTAL/JIWA':
        raw_data["Cacat"][i] = '4'
    elif txt == 'CACAT FISIK DAN MENTAL':
        raw_data["Cacat"][i] = '5'
    elif txt == 'CACAT LAINNYA':
        raw_data["Cacat"][i] = '6'
    elif txt == 'TIDAK CACAT':
        raw_data["Cacat"][i] = '7'
    else:
        raw_data["Cacat"][i] = '7'
raw_data["Cacat"]

0       7
1       7
2       7
3       7
4       7
       ..
8303    7
8304    7
8305    7
8306    7
8307    7
Name: Cacat, Length: 8308, dtype: object

In [ ]:
for i, txt in enumerate(raw_data["Hamil"]):
    raw_data["Hamil"][i] = '2'
raw_data["Hamil"]

0       2
1       2
2       2
3       2
4       2
       ..
8303    2
8304    2
8305    2
8306    2
8307    2
Name: Hamil, Length: 8308, dtype: object

In [ ]:
raw_data['Hamil'].value_counts()

2    8308
Name: Hamil, dtype: int64

In [ ]:
# raw_data['NIK'][8301]

In [ ]:
for i, txt in enumerate(raw_data["Cara KB"]):
    if txt == 'Pil':
        raw_data["Cara KB"][i] = '1'
    elif txt == 'IUD':
        raw_data["Cara KB"][i] = '2'
    elif txt == 'Suntik':
        raw_data["Cara KB"][i] = '3'
    elif txt == 'Kondom':
        raw_data["Cara KB"][i] = '4'
    elif txt == 'Susuk KB':
        raw_data["Cara KB"][i] = '5'
    elif txt == 'Sterilisasi Wanita':
        raw_data["Cara KB"][i] = '6'
    elif txt == 'Sterilisasi Pria':
        raw_data["Cara KB"][i] = '7'
    else:
        raw_data["Cara KB"][i] = '99'
raw_data["Cara KB"]

0       99
1       99
2       99
3       99
4       99
        ..
8303    99
8304    99
8305    99
8306    99
8307    99
Name: Cara KB, Length: 8308, dtype: object

In [ ]:
raw_data.Cacat.value_counts()

7    8308
Name: Cacat, dtype: int64

In [ ]:
raw_data['Status Perkawinan'].value_counts()

2    3668
1    2628
4     337
3      44
Name: Status Perkawinan, dtype: int64

In [ ]:
raw_data['Status Rekam'].value_counts()

Series([], Name: Status Rekam, dtype: int64)

In [ ]:
raw_data['Status Dasar'].value_counts()

1    186
Name: Status Dasar, dtype: int64

In [ ]:
for i, txt in enumerate(raw_data['NIK']):
    txt = str(txt)
    if len(txt) != 16:
        raw_data.drop(i, inplace=True)

In [ ]:
for i, txt in enumerate(raw_data['NO_KK']):
    txt = str(txt)
    if len(txt) != 16:
        raw_data.drop(i, inplace=True)

In [ ]:
for i, txt in enumerate(raw_data['Status Dasar']):
    raw_data["Status Dasar"][i] = '1'
raw_data['Status Dasar'].value_counts()

1    8180
Name: Status Dasar, dtype: int64

In [ ]:
raw_data.DUSUN.value_counts()

KAUH            1314
TENGAH          1127
KANGIN          1001
LABUHAN SAIT     948
KARANG BOMA      919
GIRI SARI        778
SULUBAN          765
BUANA SARI       724
TAMBYAK          663
Name: DUSUN, dtype: int64

In [ ]:
ids = raw_data["NO_KK"]
raw_data[ids.isin(ids[ids.duplicated()])]

,Alamat,DUSUN,RW,RT,Nama Lengkap,NO_KK,NIK,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,...,Tanggal Perkawinan,Nomor Akta Perceraian,Tanggal Perceraian,Cacat,Cara KB,Hamil,KTP EL,Status Rekam,Alamat Sekarang,Status Dasar
0,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,I WAYAN SUMERTA,5103050903070301,5103053112640221,1,BADUNG,1964-12-31 00:00:00,...,1986-10-07 00:00:00,NaN,NaN,7,99,2,NaN,NaN,NaN,1
1,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,NI WAYAN MARSI,5103050903070301,5103057112640207,2,BADUNG,1964-12-31 00:00:00,...,1986-10-07 00:00:00,NaN,NaN,7,99,2,NaN,NaN,NaN,1
2,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,I KADEK PURNAMA ADI PUTRA,5103050903070301,5103051502950003,1,DENPASAR,1995-02-15 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,1
3,TEMPEKAN SELONDING,KANGIN,0,0,I PUTU SUMARJAYA DIPUTRA,5103050111120023,5103052309870004,1,BADUNG,1987-01-23 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,1
4,TEMPEKAN SELONDING,KANGIN,0,0,NI LUH LISTYA DEVI,5103050111120023,5103056805890006,2,DENPASAR,1989-05-28 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8294,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,I WAYAN SUARDIKA,5103050612070008,5103051802840005,1,Menanga,1984-02-18 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN
8295,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,NI WAYAN APRILIANI,5103050612070008,5103054804840006,2,Kalanganyar,1984-04-08 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN
8296,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,I PUTU SUANDANA,5103050612070008,5103051804040003,1,"Pecatu, Badung",2004-04-18 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN
8297,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,I KADEK SUTRINA DANA,5103050612070008,5103050312080002,1,BADUNG,2008-12-03 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN
8298,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,NI NYOMAN ARTINI,5103050612070008,5103057112670241,2,Pecatu,1967-12-31 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN

In [ ]:
raw_data.to_excel("format.xlsx", index=False)

In [ ]:
data = pd.read_excel("format.xlsx", dtype=str) 
data

,Alamat,DUSUN,RW,RT,Nama Lengkap,NO_KK,NIK,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,...,Tanggal Perkawinan,Nomor Akta Perceraian,Tanggal Perceraian,Cacat,Cara KB,Hamil,KTP EL,Status Rekam,Alamat Sekarang,Status Dasar
0,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,I WAYAN SUMERTA,5103050903070301,5103053112640221,1,BADUNG,1964-12-31 00:00:00,...,1986-10-07 00:00:00,NaN,NaN,7,99,2,NaN,NaN,NaN,1
1,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,NI WAYAN MARSI,5103050903070301,5103057112640207,2,BADUNG,1964-12-31 00:00:00,...,1986-10-07 00:00:00,NaN,NaN,7,99,2,NaN,NaN,NaN,1
2,"TEMPEKAN SELONDING,BR.KANGIN PECATU",KANGIN,0,0,I KADEK PURNAMA ADI PUTRA,5103050903070301,5103051502950003,1,DENPASAR,1995-02-15 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,1
3,TEMPEKAN SELONDING,KANGIN,0,0,I PUTU SUMARJAYA DIPUTRA,5103050111120023,5103052309870004,1,BADUNG,1987-01-23 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,1
4,TEMPEKAN SELONDING,KANGIN,0,0,NI LUH LISTYA DEVI,5103050111120023,5103056805890006,2,DENPASAR,1989-05-28 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8234,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,I WAYAN SUARDIKA,5103050612070008,5103051802840005,1,Menanga,1984-02-18 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN
8235,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,NI WAYAN APRILIANI,5103050612070008,5103054804840006,2,Kalanganyar,1984-04-08 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN
8236,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,I PUTU SUANDANA,5103050612070008,5103051804040003,1,"Pecatu, Badung",2004-04-18 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN
8237,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,I KADEK SUTRINA DANA,5103050612070008,5103050312080002,1,BADUNG,2008-12-03 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN
8238,Tempekan Bingin Br Buana Sari Pecatu,BUANA SARI,0,0,NI NYOMAN ARTINI,5103050612070008,5103057112670241,2,Pecatu,1967-12-31 00:00:00,...,NaN,NaN,NaN,7,99,2,NaN,NaN,NaN,NaN

In [ ]:
for i, txt in enumerate(data['NO_KK']):
    txt = str(txt)
    if len(txt) != 16:
        print(data['NO_KK'][i], len(txt))

51030504111500006 17
51030504111500006 17
51030504111500006 17
nan 3
nan 3
nan 3